{"swagger":"2.0","info":{"title":"Teams Graph Api","description":"Creates Online Teams Meeting on Users Calendars","version":"1.0"},"host":"graph.microsoft.com","basePath":"/v1.0","schemes":["https"],"consumes":[],"produces":[],"paths":{"/users/{useremailaddress}":{"get":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"@odata.context":{"type":"string","description":"@odata.context"},"businessPhones":{"type":"array","items":{},"description":"businessPhones"},"displayName":{"type":"string","description":"displayName"},"givenName":{"type":"string","description":"givenName"},"jobTitle":{"type":"string","description":"jobTitle"},"mail":{"type":"string","description":"mail"},"mobilePhone":{"type":"string","description":"mobilePhone"},"officeLocation":{"type":"string","description":"officeLocation"},"preferredLanguage":{"type":"string","description":"preferredLanguage"},"surname":{"type":"string","description":"surname"},"userPrincipalName":{"type":"string","description":"userPrincipalName"},"id":{"type":"string","description":"id"}}}}},"summary":"Get Users objects Id","operationId":"GetUserObjectId","parameters":[{"name":"useremailaddress","in":"path","required":true,"type":"string","format":""},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json"}],"description":""}},"/me/onlineMeetings":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Create Online Meeting","operationId":"CreateOnlineMeeting","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"startDateTime":{"type":"string","description":"startDateTime","title":""},"endDateTime":{"type":"string","description":"endDateTime","title":""},"subject":{"type":"string","description":"subject"},"isBroadcast":{"type":"boolean","description":"isBroadcast","title":"","enum":["",true,false]},"isEntryExitAnnounced":{"type":"boolean","description":"isEntryExitAnnounced"},"allowedPresenters":{"type":"string","description":"allowedPresenters","title":"","enum":["everyone","organization","roleIsPresenter","organizer","unknownFutureValue"]},"lobbyBypassSettings":{"type":"object","properties":{"scope":{"type":"string","description":"scope","title":"","enum":["","organizer","organization","organizationAndFederated","everyone","unknownFutureValue"]},"isDialInBypassEnabled":{"type":"boolean","description":"isDialInBypassEnabled"}},"description":"lobbyBypassSettings"},"participants":{"type":"object","properties":{"organizer":{"type":"object","properties":{"upn":{"type":"string","description":"upn"},"role":{"type":"string","description":"role","title":"","enum":["","attendee","presenter","unknownFutureValue"]}},"description":"organizer"},"attendees":{"type":"array","items":{"type":"object","properties":{"upn":{"type":"string","description":"upn"},"role":{"type":"string","description":"role","title":"","enum":["","attendee","presenter","unknownFutureValue"]}}},"description":"attendees"}},"description":"participants"}},"required":["isBroadcast","startDateTime","endDateTime"]}}],"description":"https://docs.microsoft.com/en-us/graph/api/application-post-onlinemeetings?view=graph-rest-1.0&tabs=http"}},"/me/calendar/events":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Create Calendar Event","description":"https://docs.microsoft.com/en-us/graph/api/user-post-events?view=graph-rest-1.0&tabs=http","operationId":"CreateCalendarEvent","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"subject":{"type":"string","description":"subject"},"body":{"type":"object","properties":{"contentType":{"type":"string","description":"contentType"},"content":{"type":"string","description":"content"}},"description":"body"},"start":{"type":"object","properties":{"dateTime":{"type":"string","description":"dateTime"},"timeZone":{"type":"string","description":"timeZone"}},"description":"start"},"end":{"type":"object","properties":{"dateTime":{"type":"string","description":"dateTime"},"timeZone":{"type":"string","description":"timeZone"}},"description":"end"},"location":{"type":"object","properties":{"displayName":{"type":"string","description":"displayName"}},"description":"location"},"attendees":{"type":"array","items":{"type":"object","properties":{"emailAddress":{"type":"object","properties":{"address":{"type":"string","description":"address"},"name":{"type":"string","description":"name"}},"description":"emailAddress"},"type":{"type":"string","description":"type"}}},"description":"attendees"}}}}]}},"/me/events":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Create Event","operationId":"CreateEvent","parameters":[{"name":"Content-type","in":"header","required":true,"type":"string","default":"application/json"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"subject":{"type":"string","description":"subject","title":""},"body":{"type":"object","properties":{"contentType":{"type":"string","description":"contentType","title":"","enum":["","text","html"]},"content":{"type":"string","description":"content","title":"content"}},"description":"body","required":["contentType","content"]},"start":{"type":"object","properties":{"dateTime":{"type":"string","description":"startdateTime"},"timeZone":{"type":"string","description":"starttimeZone"}},"description":"start"},"end":{"type":"object","properties":{"dateTime":{"type":"string","description":"enddateTime"},"timeZone":{"type":"string","description":"endtimeZone"}},"description":"end"},"location":{"type":"object","properties":{"displayName":{"type":"string","description":"locationdisplayName"}},"description":"location"},"attendees":{"type":"array","items":{"type":"object","properties":{"emailAddress":{"type":"object","properties":{"address":{"type":"string","description":"address"},"name":{"type":"string","description":"name"}},"description":"emailAddress"},"type":{"type":"string","description":"type"}}},"description":"attendees"},"allowNewTimeProposals":{"type":"boolean","description":"allowNewTimeProposals","title":"","enum":["",true,false]},"isOnlineMeeting":{"type":"boolean","description":"isOnlineMeeting","title":"","enum":["",true,false]},"onlineMeetingProvider":{"type":"string","description":"onlineMeetingProvider","title":"onlineMeetingProvider","enum":["teamsForBusiness","skypeForBusiness","skypeForConsumer"]},"onlineMeetingUrl":{"type":"string","description":"onlineMeetingUrl","title":"onlineMeetingUrl"}},"required":["onlineMeetingProvider","isOnlineMeeting","onlineMeetingUrl","body","subject"]}}],"description":"https://docs.microsoft.com/en-us/graph/api/user-post-events?view=graph-rest-1.0&tabs=http"}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"oauth2_auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.windows.net/common/oauth2/authorize","tokenUrl":"https://login.microsoftonline.com/096d1a84-d560-4fa0-b41f-e88d1e4e3cae/oauth2/v2.0/token","scopes":{"https://graph.microsoft.com/.default":"https://graph.microsoft.com/.default"}}},"security":[{"oauth2_auth":["https://graph.microsoft.com/.default"]}],"tags":[]}